.users {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    margin-bottom: 10px;
}